/* Remove this top section. This is for dev purposes to match the production site */
body {
    font-family: Arial,Verdana,Sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul li {
    color: #303030;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding-left: 5px;
}

/* overrides to make ui match rest of site */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-dialog-titlebar{
    background: #105cb6;
    border-color:#105cb6;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    background: rgba(16, 117, 255, 0.9) none repeat scroll 0 0;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    background: #105cb6;
}

.ui-widget-content a {
    color: #333;
}

.ui-widget-content {
    background: #fff;
}

.ui-dialog {
    font-size: .9em;
}

.ui-menu-item {
    cursor: pointer;
}

/* map stuff */
#map {
    width: 100%;
    height: 350px;
}

#map img {
    max-width: none !important;
}

/* event stuff */

#events {
    background: #FFF;
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
    position: relative;
}

#eventsSpinner {
    background: url('../images/loading.gif') #FFF center center no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.event-view {
    background: #FFF;
    width: 99%;
    margin: 0 auto 6px auto;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);
    outline: 1px solid #999;
    position: relative;
    transition: box-shadow .25s;
    -webkit-transition: -webkit-box-shadow .25s;
    font-size: 16px;
}

.event-view:hover {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(130, 180, 200, 1);
    box-shadow: 5px 5px 10px 0px rgba(130, 180, 200, 1);
    cursor: pointer;
}

.event-view-featured {
    position: absolute;
    top: 4px;
    left: 4px;
    background-image: url('../images/star_16.png');
    width: 16px;
    height: 16px;
}

.event-view-type {
    font-size: 1.5em;
    width: 25%;
    display: block;
    float: left;
}

.event-view-date {
    display: inline-block;
    top: 15px;
    margin-left: 1em;
    width: 35%;
}

.event-view-location {
    display: inline-block;
    top: 15px;
    margin-left: 1em;
    width: 25%;
}

.event-view-expand {
    clear: left;
    cursor: pointer;
}

.event-view-expand:hover {
    background-image: url(ui-darkness/images/ui-icons_222222_256x240.png);
}

.event-view-folder {
    /*display: none;*/
    clear: left;
}

.event-view-right {
    position: absolute;
    top: 5px;
    right:10px;
}

.event-view-album {
    float:right;
    margin-right: 8px;
}

.event-view-inventory {
    display: inline-block;
    margin-right: 8px;
}

.event-view-onlineItem {
    float: right;
    background: url(../icons/online_shop.png) no-repeat;
    width: 40px;
    height: 48px;
    clear: right;
    margin-top: 5px;
    margin-right: 5px;
}

.event-view .ui-button {
    font-size: .9em;
}

#event-listings {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 10px;
}

.event-view-description {
    margin: .5em 0 .5em 2em;
    width: 60%;
    display: inline-block;
    min-width: 400px;
}

#event-listing-none {
    color: #666;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 2em;
}

.event-listing-folder {
    display: none;
}

/* filter stuff */

.filter-collection-view {
    position: relative;
}

.filter-collection-pane {
    margin: 0 auto;
    background: #105cb6;
    position: relative;
    display: none;
    width: 100%;
    padding: 10px;
    height: 40px;
    overflow: visible !important;
}

#filterButton {
    position: absolute;
    margin-top: -32px;
    left: 5.5em;
    font-size: 14px;
}

#filterMenuButton {
    display: inline-block;
    position: absolute;
    top: .4em;
    right: .4em;
    background: #FFF;
    color: #000;
    border: 1px solid rgb(204, 204, 204);
}

#filterMenuButton:hover {
    background: rgb(235, 235, 235);
}

.filter-collection-menu-view {
    display: none;
    width: 100px;
    font-size: .8em;
    position: absolute;
    z-index: 10000;
    top: 3.7em;
    right: .5em;
}

.filter-view {
    float: left;
    margin-right: .5em;
}

.filter-inventory {
    padding: 0 .5em;
    cursor: pointer;
    line-height: 24px;
}

.filter-view-title {
    cursor: default;
}

.remove-filter-icon {
    position: absolute;
    left: -8px;
    top: -8px;
    cursor: pointer;
}

.remove-filter-icon:hover {
    background-image: url(ui-darkness/images/ui-icons_a83300_256x240.png);
}

.ui-dialog .inventory-collection-view {
    padding: .5em 0;
}

#inventoryFilter {
    color: #333;
}

#inventoryFilterType {
    width: 100%;
    margin-bottom: 2em;
}

.inventory-view-listing {
    float: left;
    margin-left: 5%;
    width: 26%;
}

.inventory-view-checkbox {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

/* filter fancy input stuff */

.fancy-input {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #aaaaaa;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    white-space: nowrap;
    position: relative;
    height: 23px;
    line-height: 24px;
    padding: 0 0 0 8px;
    color: rgb(68, 68, 68);
    text-decoration: none;
    font-size: 13px !important;
    font: inherit;
}

.fancy-input input {
    border: none;
    background: transparent;
    height: 100%;
    padding: 0 0 0 .5em;
    cursor: pointer;
}

.fancy-input input:focus {
    outline: none;
}

.fancy-input .filter-view-title {
    margin-left: -.3em;
    padding-right: .3em;
    display: block;
    float: left;
    border-right: 1px solid #aaaaaa;
    height: 100%;
    line-height: 24px;
}

/* special stuff to make chosen work inside our filter view */

.chosen-container.viewing {
    width: auto !important;
}

.chosen-container-single .chosen-single.viewing {
    background: none !important;
    border: none !important;
    height: auto !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.chosen-container .chosen-drop.viewing {
    width: auto !important;
}

/* Overlays */
#lightbox {
    display: block;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 1);
}

.large-overlay {
    width: 100%;
    height: 100%;
}

#photoViewer {
    background: #FFF;
    border: none;
}

#lightboxSpinner {
    opacity: .5;
    background: url('../images/loading.gif') #FFF center center no-repeat;
    position: absolute;
    top: 0;
}

#inventoryViewer {
    background: #FFF;
    font-size: 1.5em;
    padding: 1em;
}

.inventory-view-bullet {
    float: left;
    position: relative;
    top: 5px;
    margin-right: .3em;
}

#lightboxClose {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #105cb6;
    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .5);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .5);
}

#lightboxClose:hover {
    cursor: pointer;
    background: rgba(16, 117, 255, 0.9);
}

#lightboxClose .ui-icon {
    margin-left: 6.75px;
    margin-top: 6.25px;
}

@media screen and (max-width: 640px) {
    .event-view-description {
        width: 100%;
        margin-bottom: .3em;
    }

    .event-view-date {
        margin-left: 2em;
        clear: left;
        width: 50%;
    }

    .event-view-location {
        width: 30%;
    }

    .event-view-expand {
        zoom: 2;
    }
}
